@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.innerDiv {
  margin-inline: auto;
}
@media only screen and (min-width: 280px) {
  .innerDiv {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .innerDiv {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media only screen and (min-width: 640px) {
  .innerDiv {
    padding-left: 60px;
    padding-right: 60px;
  }
  header .innerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .innerDiv {
    padding-left: 60px;
    padding-right: 60px;
  }
  header .innerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .overflow-y-scroll {
    height: 100vh !important;
  }
  .innerDiv {
    padding-left: 80px;
    padding-right: 80px;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .innerDiv {
    max-width: calc(1280px + 160px);
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1536px) {
  .innerDiv {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}
main,
header,
footer {
  max-width: 2560px;
  margin: 0 auto;
}

.glitch {
  color: #40b93c;
  // font-size:100px;
  position: relative;
  // width:400px;
  margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

#custom-video .full-screen-video {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background: #202020;
}
#custom-video #closeBtn {
  display: none;
}
#custom-video .full-screen-video #closeBtn {
  position: fixed;
  top: 5%;
  right: 5%;
  display: block;
  z-index: 9999999;
}
#custom-video .full-screen-video #closeBtn button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  color: #202020;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
}
#custom-video .full-screen-video video {
  -o-object-fit: contain !important;
  object-fit: contain !important;
  width: 100%;
  height: 100%;
}

#custom-video .full-screen-video .text,
#custom-video .full-screen-video .mute {
  display: none;
}
.bg-video {
  object-fit: cover;
}
.effect-code {
  transition: all 0.5s ease-out;
}
@media (min-height: 700px) {
  #custom-video {
    height: 650px !important;
  }
  .video-container {
    height: 650px !important;
  }
  .hero-video {
    height: 650px !important;
  }
  #product {
    height: 650px !important;
    .product-image {
      height: 650px !important;
    }
  }
}
@media (min-width: 1280px) and (min-height: 800px) {
  #custom-video {
    height: 800px !important;
  }
  .video-container {
    height: 800px !important;
  }
  .hero-video {
    height: 800px !important;
  }
  #product {
    height: 800px !important;
    .product-image {
      height: 800px !important;
    }
  }
}

#costCalculator {
  input[type="range"]::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: transparent;
    background: url("./images/location-dot.svg") center center no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -37px;
    position: relative;
    z-index: 50;
  }
  @media (min-width: 767px) {
    input[type="range"]::-webkit-slider-thumb {
      height: 50px;
      width: 50px;
      margin-top: -45px;
    }
  }
}

#product {
  background: #000000;

  .specs-card {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 16px;
  }
}

.testimonials-slider {
  display: grid !important;
  grid-auto-flow: column !important;
}

#footer {
  background: #010a26; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000000,
    #010a26,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000000,
    #010a26,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-fixed {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.newsletter {
  background: #010a26; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000000,
    #010a26,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #010a26, #000000);
}

.overlay-gradient-b-intro {
  background: linear-gradient(to bottom, #000000 5%, rgba(0, 0, 0, 0) 80%);
}

.overlay-gradient-t-intro {
  background: linear-gradient(to top, #000000 1%, rgba(0, 0, 0, 0) 100%);
}

.theme-gradient {
  background: #010a26; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000000,
    #010a26,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #010a26, #000000);
}

.campaign-slider .swiper-button-prev,
.campaign-slider .swiper-button-next {
  display: none;
  background: #000000;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  z-index: 10 !important;
  &::after {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .campaign-slider .swiper-button-prev,
  .campaign-slider .swiper-button-next {
    display: block;
  }
}

.campaign-slider .swiper-button-next {
  right: 5px !important;
  transform: translateX(-100%);
  margin-top: -50px !important;
}
.campaign-slider .swiper-button-prev {
  left: -15px !important;
  transform: translateX(100%);
  margin-top: -50px !important;
}

#clientsSlider {
  .swiper-slide {
    width: fit-content !important;
  }
}
